/callbacks
/lesson 10.Proxy
/lesson 11.Generator
/lesson 12.Arrays
/lesson 2.ContextThis
/lesson 3.zamicania
/lesson 4.EventLoop
/lesson 5.Promise
/lesson 6.Object
/lesson 7.Classes
/lesson 8.Async
/lesson 9.Proxy
/lesson13.Map
/lesson14.Fetch
/lesson15.Spread
/lesson16.Destruct
/lesson17.Localstorage